version: "3.7"

services:
  erp_backend:
    container_name: erp_backend
    image: erp_backend
    restart: always
    build:
      context: .
      dockerfile: ./Dockerfile.prod
    command: gunicorn -k uvicorn.workers.UvicornWorker root.asgi:application --bind 0.0.0.0:8088 --timeout  600
 #
    # entrypoint: ./entrypoint.sh
    volumes:
      - static_files:/home/app/staticfiles
      - media_volume:/home/app/media
    expose:
      - 8088
    env_file:
      - ./.env.prod
    depends_on:
      - erp_db
  erp_db:
    container_name: erp_db
    restart: always
    image: sameersbn/postgresql:12-20200524
    volumes:
      - postgres_data:/var/lib/postgresql/v2/data/
    env_file:
      - ./.env.prod.db
    ports:
      - "5432:5432"
    # expose: 
    #   - 80
    command: -p 5432
  erp_nginx:
    container_name: erp_nginx
    image: nginx-prod
    restart: always
    build: ./nginx
    volumes:
      - static_files:/home/app/v2/staticfiles
      - media_volume:/home/app/v2/media
      # - ./nginx:/etc/nginx/conf.d
    ports:
      - 8088:80
    depends_on:
      - erp_backend
  erp_backups:
    container_name: erp_backups
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - /$HOME/erp/v2/pgbackups_v2:/backups
    links:
      - erp_db
    depends_on:
      - erp_db
    environment:
      - POSTGRES_HOST=erp_db
      - POSTGRES_PORT=5432
      - POSTGRES_DB=erp
      - POSTGRES_USER=mkhaled
      - POSTGRES_PASSWORD=KhaledRM250
      #  - POSTGRES_PASSWORD_FILE=/run/secrets/db_password <-- alternative for POSTGRES_PASSWORD (to use with docker secrets)
      - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
      - SCHEDULE=@hourly
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=30
      - BACKUP_KEEP_MONTHS=30
      - HEALTHCHECK_PORT=8099
volumes:
  static_files:
  postgres_data:
  media_volume:
